.Home
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home h1
{
    font-family: 'Orbitron', sans-serif;
    font-size: 86px;
    font-weight: 400;
    user-select: none;
    animation-name: load;
    animation-duration: 4s;
}

@keyframes load {
    from {font-size: 0;}
    to {font-size: 86;}
}

@media screen and (max-width: 600px)
{
    .Home h1
    {
        font-size: 20px;
    }
}