@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Orbitron&family=Sacramento&display=swap');
*{margin: 0;padding: 0;}
::-webkit-scrollbar{width: 10px;}
::-webkit-scrollbar-track {background: #F6F1F1;}
::-webkit-scrollbar-thumb {background: #AFD3E2;}
::-webkit-scrollbar-thumb:hover {background: #19A7CE;}
body{height: 400vh; overflow-x: hidden;}
