@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Orbitron&family=Sacramento&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{margin: 0;padding: 0;  scroll-behavior: smooth;}
::-webkit-scrollbar{width: 10px;}
::-webkit-scrollbar-track {background: #F6F1F1;}
::-webkit-scrollbar-thumb {background: #AFD3E2;}
::-webkit-scrollbar-thumb:hover {background: #19A7CE;}
body{
    height: 400vh; 
    overflow-x: hidden;
    font-family: 'Chakra Petch';
}

.swiper-pagination
{
    top: 105% !important;
}

.SpecialFont
{
    font-family: 'Sacramento';
}

h1,h2,h3,h4,h5,h6
{
    
    font-family: 'Orbitron';
}


.Poll
{
    transition: 0.5s;
    cursor: pointer;
    border-radius: 10px;
    height: 11px;
    width: 60%;
    background-color: #AFD3E2;
}

.Poll:hover
{
    background-color: #19A7CE;
}

.Poll-Active
{
    width: 100%;
    background-color: #19A7CE;
}