.AboutMe
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: baseline;
    height: 100vh;
    font-family: 'Chakra Petch', sans-serif;
}

.AboutMe div 
{
    text-align: justify;
    width: 520px;
    margin-left: 10%;
    font-size: 20px;
    animation: AnimateShow 4s;
}

.AboutMe div h1
{
    font-size: 44px;
    margin-bottom: 20px;
}

.AboutMe div button
{
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    color: inherit;
    padding: 10px 20px 10px 20px;
}

.Handle
{
    text-align: left;
    width: 100%;
    font-weight: 400;
    position: absolute;
    padding: 5px;
    margin-left: 5px;
    font-size: 44px;
    font-family: 'Orbitron', sans-serif;
    animation: HandleShow 2s;
    bottom: 0;
}

@keyframes HandleShow {
    from{bottom: -100px;}
    to{bottom: 0;}
}

@keyframes AnimateShow {
    from{filter:opacity(0);}
    to{filter: opacity(100%);}

}